* {
  border-radius: 5px
}
body {
  background-color: #000000;
  background-image: url(/images/sarracenia.jpg);
  background-size: cover;
  background-attachment:fixed;
}


header {
  background-image: url(/images/headshot.jpg), url(/images/eth-wires.jpg);
  width: 100%;
  Height: 300px;
  border:  solid black;  
  background-size: 300px 320px, cover;
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: 0% 25%, center; 
  display: inline-block flex;
         
}
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display:inline-block flex;
  border-radius: 0px;
  position: relative;
  left:0%;
  bottom: 7.5%;
  text-align: center;
  border: 1px solid ;
  width: 298px;
  height: fit-content;
  background-color: rebeccapurple;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  }  
li {
  float: left;
  }  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  }  
li a:hover {
  background-color: #111111;
  }    

.about {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(0, 0, 0);
  width: fit-content;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rebeccapurple;
  
}
.navbar {
  background-color: #333;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display:block;
  position: absolute;
}
img {
max-width: 100%;
max-height: 100%;
}
.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  max-width: 600px;
  margin: 0 auto; 
}
.gallery-item {
  color: rgb(245, 243, 243);
  text-align: center;
  padding: 10px;
  margin: 5px;
  display:flex block;  
}
.gallery-item img {
  width:300px;
  height:300px;
}
.gallery-item:hover img{
opacity: 0.8;
}

.main-image {
  color: #ddd;
  width: auto;
  height: auto;
  flex-basis: 100%;
}
.main-image:hover {
  opacity: 0.8;

}

section{ 
  color: white;
}
footer {
  margin-top: 100px;
  margin-bottom: 100px;
  color:white;
}
  
