body {

    background-image: url("C:/Users/alexh/bootcamp/homework/Portfolio-AH/assets/images/Background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
  }