.body {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("C:/Users/alexh/bootcamp/homework/Portfolio-AH/assets/images/Background.jpeg");
    background-size: cover;
    background-position: center;
  }